<table style="width:100%">
  <tr>
    <th>Nombre Usuario</th>
    <th>Correo electronico</th>
    <th>Link al usuario</th>
  </tr>
  {% for user in users_list %}
    <tr>
      <td>{{ user['name'] }}</td>
      <td>{{ user['mail'] }}</td>
      <td>
        {% if user['current_user'] %}
          <a href='/user/{{ user['id'] }}'> Ver usuario </a>
        {% endif %}
      </td>
    </tr>
  {% endfor %}
</table>